archive/*
!archive/.gitkeep

data/*
!data/.gitkeep

status_log/*
!status_log/.gitkeep

legacy
local
ignore

.vscode

.env

TODO.md

__pycache__

UPDATED_ON.txt
.DS_Store
*.csv
!SAMPLE_course_entitlements.csv
!SAMPLE_Tableau_Data/*